DEV=true
CACHE=false
INDEXABLE=false

THEME=technosapiens

DB_NAME=websitename_loc
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1:3308
DB_PREFIX=ts_

AUTH_KEY=
SECURE_AUTH_KEY=
LOGGED_IN_KEY=
NONCE_KEY=
AUTH_SALT=
SECURE_AUTH_SALT=
LOGGED_IN_SALT=
NONCE_SALT=

LICENSE_KEY_ACF=
LICENSE_KEY_GF=
LICENSE_KEY_AKISMET=
LICENSE_KEY_WPMUDEV=
