@use "../util/util-mixins" as mixins;

.site-footer{
    padding: 4rem 2rem 8rem 2rem;
    margin-top: auto;
    color: var(--ts-font-color-white, white);
    text-align: center;
    background-color: var(--ts-color-primary-darker, purple);

    @include mixins.mq-up(xl) {
        text-align: left;
        padding: 4rem 2rem;
    }

    &__row {        
        gap: var(--ts-row-gap-default, 2rem);

        @include mixins.mq-up(xl) {
            gap: 0;
        }
    }

    &__col {
        &--ctas {
            @include mixins.mq-up(xl) {
                order: 2;
            }
        }
        &--links {
            @include mixins.mq-up(xl) {
                order: 1;
            }
        }
    }   

    &__contact-data {
        p, a{
            font-family: var(--ts-font-semibold, sans-serif);
            font-weight: var(--ts-font-weight-semibold, 600);
        }

        p{
            line-height: 2rem;
        }

        a{
            color: var(--ts-color-white, white);
            transition: var(--ts-transition-ease-in-out, all 0.3s ease-in-out);

            &:hover{
                opacity: 0.7;
            }
        }
    }

    &__links-menu {
        text-align: left;
    }

    &__links-menu-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        .text-small{
            .site-footer__links-menu-item-link{
                font-family: var(--ts-font-regular, sans-serif);
                font-weight: var(--ts-font-weight-regular, 400);
            }
        }
    }

    &__links-menu-item-link {
        padding-block: 0.25rem;
        text-decoration: none;
        font-family: var(--ts-font-semibold, sans-serif);
        font-weight: var(--ts-font-weight-semibold, 600);
        transition: var(--ts-transition-ease-in-out, all 0.3s ease-in-out);
        display: block;

        &:hover{
            transform: translateX(0.2rem);
        }
    }

    &__ctas {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;

        @include mixins.mq-up(xl) {
            justify-content: flex-end;
        }
    } 


    &__logo-image{
        max-width: 100%;
        width: 11rem;
    }
}