@use "../../../scss/util/util-mixins" as mixins;
@use "../../../scss/util/util-variables" as vars;

.section-page-buttons {
    $self: &;

    &__row {
        display: grid;
        width: 100%;
        gap: calc(var(--ts-gutter-width, 1rem) / 2);
        grid-template-columns: minmax(0, 1fr);

        @include mixins.mq-up(md) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @include mixins.mq-up(lg) {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
    }

    &__col {
        width: 100%;
        min-width: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mixins.mq-up(md) {
            aspect-ratio: 16 / 9;
        }
    }

    &__button {
        width: 100%;
        height: 100%;
        padding: 1.5rem !important;
        border-radius: var(--ts-border-radius-xs, 0.5rem) !important;
        font-size: 1.5rem;
        text-align: center;
        font-weight: var(--ts-font-weight-medium, 500);

        @include mixins.mq-up(md) {
            font-size: 1.5rem;
        }

        @include mixins.mq-up(lg) {
            padding: 1.5rem 2.5rem !important;
        }
    }
}
