@use "../../../scss/util/util-mixins" as mixins;
@use "../../../scss/util/util-variables" as vars;

.section-content {
    $self: &;
    color: var(--ts-color-white, white);
    font-size: 1.25rem;
    line-height: 1.75rem;

    p, h2, h3, h4, h5, h6 {
        color: var(--ts-color-white, white);
    }

    p{
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    @for $i from 1 through 3 {
        p:nth-child(#{$i}) {
            padding-left: $i * 8rem;
            padding-right: (3 - $i) * 8rem;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        z-index: 2;
    }
}
