@use "../util/util-variables" as vars;
@use "../util/util-mixins" as mixins;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    resize: none;
    position: relative;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:before, &:after {
        box-sizing: border-box;
    }
}

ul, ol {
    li::marker {
        font-size: 0;
    }
}

html {
    height: 100%;
    min-height: 100%;
    width: 100%;
    font-size: var(--ts-font-size-default, 16px);
    scroll-padding-top: calc(var(--ts-nav-height-top-mobile, 2.5rem) + var(--ts-nav-height-mobile, 3.75rem) + 1rem);
    background-color: var(--ts-color-primary-dark, #4E134E);

    @include mixins.mq-up(lg) {
        scroll-padding-top: calc(var(--ts-nav-height-top, 2.5rem) + var(--ts-nav-height, 3.75rem) + 2rem);
    }

    &.ts-smooth-scroll {
        scroll-behavior: smooth;
    }
}

html, body {
    max-width: 100vw;
}

body {
    min-height: 100%;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: underline;
}

.block-paragraph, .block-list {
    a {
        opacity: 1;
        transition: .2s ease-in-out opacity;

        &:hover {
            //WCAG 2.1 AA - extra contrast for hover
            opacity: .7;
        }
    }
}

main {
    max-width: 100vw;
    width: 100%;

    //add some automatic padding to the top of the main content when there is no header module and no breadcrumbs
    body:not(.has-header-module):not(:has(.breadcrumbs)) & {
        padding-top: var(--ts-gutter-width, 2rem);
    }
}

figure {
    margin: 0;
}

label {
    cursor: pointer;
}

use {
    fill: currentColor;
}

button {
    -webkit-appearance: none;
    appearance: none;
    color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
}

dialog:modal {
    max-width: 100%;
    max-height: 100%;
}

::backdrop, .ts-backdrop {
    background-color: rgba(0, 0, 0, .2);
    backdrop-filter: blur(3px);
}