@use "../util/util-variables" as vars;
@use "../util/util-mixins" as mixins;

body,
p,
u,
strong,
em,
a,
li,
input,
textarea,
label,
legend,
time {
    font-family: var(--ts-font-body, "sans-serif");
}

i:not([class*="mce-i-"]):not(.mce-ico) {
    font-family: var(--ts-font-body, "sans-serif");
}

body {
    font-size: var(--ts-font-size-default, 16px);
    color: var(--ts-font-color-primary, black);
    font-weight: var(--ts-font-weight-medium, 500);
    line-height: 1.25rem;

    @include mixins.mq-up(md) {
        line-height: 1.5rem;
    }
}

p {
    font-size: 1rem;
    line-height: 1.6;
}

p {
    a {
        color: var(--ts-color-primary, red) !important;
        text-decoration: none !important;
        font-family: var(--ts-font-bold, sans-serif);
        font-weight: var(--ts-font-weight-bold, 700);

        &:hover {
            opacity: 0.8;
        }
    }
}

strong,
b {
    font-family: var(--ts-font-bold, sans-serif);
    font-weight: var(--ts-font-weight-bold, 700);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: var(--ts-font-heading, sans-serif);
    font-weight: var(--ts-font-weight-semibold, 700);
}

h1,
.h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: var(--ts-font-weight-medium, 500);
    font-family: var(--ts-font-body, sans-serif);

    @include mixins.mq-up(md) {
        font-size: 5rem;
        line-height: 5.5rem;
    }
}

h2,
.h2 {
    font-size: 1.5rem;
    line-height: 2.125rem;

    @include mixins.mq-up(md) {
        font-size: 2.5rem;
        line-height: 3rem;
    }
}

h3,
.h3 {
    font-size: 1.25rem;
    line-height: 1.625rem;

    @include mixins.mq-up(md) {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
}

h4,
.h4 {
    font-size: 1.125rem;
    line-height: 1.5rem;

    @include mixins.mq-up(md) {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}

h5,
.h5 {
    font-size: 1.0625rem;
    line-height: 1.375rem;

    @include mixins.mq-up(md) {
        font-size: 1.125rem;
        line-height: 1.625rem;
    }
}

h6,
.h6 {
    font-size: 1rem;
    line-height: 1.25rem;

    @include mixins.mq-up(md) {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

.text-large {
    font-size: var(--ts-font-size-large, 1.125rem);
    line-height: var(--ts-line-height-large, 1.5rem);

    @include mixins.mq-up(md) {
        font-size: var(--ts-font-size-large-md, 1.25rem);
        line-height: var(--ts-line-height-large-md, 1.75rem);
    }

    strong,
    b {
        font-family: var(--ts-font-bold, sans-serif);
        font-weight: var(--ts-font-weight-bold, 700);
    }
}

.text-medium {
    font-size: var(--ts-font-size-medium, 1.0625rem);
    line-height: var(--ts-line-height-medium, 1.375rem);

    @include mixins.mq-up(md) {
        font-size: var(--ts-font-size-medium-md, 1.125rem);
        line-height: var(--ts-line-height-medium-md, 1.625rem);
    }

    strong,
    b {
        font-family: var(--ts-font-bold, sans-serif);
        font-weight: var(--ts-font-weight-bold, 700);
    }
}

.text-base {
    font-size: var(--ts-font-size-base, 1rem);
    line-height: var(--ts-line-height-base, 1.25rem);

    @include mixins.mq-up(md) {
        line-height: var(--ts-line-height-base-md, 1.5rem);
    }

    strong,
    b {
        font-family: var(--ts-font-bold, sans-serif);
        font-weight: var(--ts-font-weight-bold, 700);
    }
}

.text-small {
    font-size: var(--ts-font-size-small, 0.9rem);
    line-height: var(--ts-line-height-small, 1.125rem);

    @include mixins.mq-up(md) {
        line-height: var(--ts-line-height-small-md, 1.375rem);
    }

    strong,
    b {
        font-family: var(--ts-font-bold, sans-serif);
        font-weight: var(--ts-font-weight-bold, 700);
    }
}

.text-tiny {
    font-size: var(--ts-font-size-tiny, 0.75rem);
    line-height: var(--ts-line-height-tiny, 0.875rem);

    @include mixins.mq-up(md) {
        line-height: var(--ts-line-height-tiny-md, 1.125rem);
    }
}

.text-caption {
    font-size: var(--ts-font-size-caption, 0.75rem);
    line-height: var(--ts-line-height-caption, 0.875rem);

    @include mixins.mq-up(md) {
        line-height: var(--ts-line-height-caption-md, 1.125rem);
    }

    strong,
    b {
        font-family: var(--ts-font-bold, sans-serif);
        font-weight: var(--ts-font-weight-bold, 700);
    }
}

.font-family-body {
    font-family: var(--ts-font-body, 'sans-serif');
}

.text-center {
    text-align: center;
}