:root {
    --ts-outline: var(--ts-stroke-thin, 2px) solid var(--ts-font-color-primary, currentColor);
    --ts-outline-light: var(--ts-stroke-thin, 2px) solid var(--ts-color-focus-ring, white);
}

//add some outline styling so you can see which element is focused
*:not(.ts-no-outline):focus-visible {
    outline: var(--ts-outline, 2px solid currentColor);
    outline-offset: 0.125rem;

    .ts-has-dark-background & {
        outline: var(--ts-outline-light, 2px solid currentColor);
    }
}
