@use "../../../scss/util/util-mixins" as mixins;
@use "../../../scss/util/util-variables" as vars;

.section-cta-banner {
    $self: &;

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        max-width: 54rem;
        margin: 0 auto;
        text-align: center;
        background-color: var(--ts-color-white, white);
        padding: 2rem;
        border-radius: var(--ts-border-radius-sm, 1.9rem);

        @include mixins.md {
            border-radius: var(--ts-border-radius-xxl, 4.4rem);
        }
    }

    &__title {
        color: var(--ts-color-secondary, blue);
    }

    &__content {
        p {
            font-size: var(--ts-font-size-medium, 1.125rem);
            color: var(--ts-font-color-primary, black);
        }
    }

}