@use "../util/util-variables" as vars;
@use "../util/util-mixins" as mixins;

.container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: calc(#{vars.$base-width} + var(--ts-gutter-width, 2rem));
    margin: 0 auto;
    padding: 0 calc(var(--ts-gutter-width, 2rem) / 2);

    @include mixins.mq-up(xl) {
        padding: 0 var(--ts-gutter-width, 2rem);
    }

    &.fluid {
        max-width: 100%;
    }

    .wp-admin & {
        padding: 0;
    }

    //prevent double container padding
    .container {
        padding: 0;
    }

    &--narrow{
        max-width: calc(#{vars.$narrow-width} + var(--ts-gutter-width, 2rem));
    }
}